// Notice shortcode
.notice {
	border-radius: $border__radius;
	border: 2px solid;
	margin: 2em 0;
	padding: 1.5em 2em 1.5em 3em;
	@include media-breakpoint-up(xl) {
		padding: 33px 128px 33px 95px;
	};
	&.type {
		&-info, &-success, &-warning, &-error {
			a {
				color: $color__link-hover;
				&:hover {
					color: $color__link;
					text-decoration: underline;
				}
			}
			position: relative;
			&:before {
				@include nucleo-icon();
				position: absolute;
				top: 28px;
				left: 16px; 
				@include font-size(1.2);
				@include media-breakpoint-up(xl) {
					top: 40px;
					left: 40px; 
					@include font-size(1.75);
				}
			}
		}
		&-success{
			border-color: $color__success;
			background-color: #e6f7fe;
			&:before {
				content: '\ea6a';
				color: $color__success;
			}
		}
		&-warning{
			border-color: $color__warning;
			background-color: #fffbef;
			&:before {
				content: '\ea6a';
				color: $color__warning;
			}
		}
		&-error{
			border-color: $color__error;
			background-color: #fef4f5;
			&:before {
				content: '\ea2a';
				color: $color__error;
			}
		}
		&-info{
			border-color: $color__info;
			background-color: #f0fcf6;
			&:before {
				content: '\ea1f';
				color: $color__info;
			}
		}
	}
}