.share-btns {
	&__list {
		order: 0;
		flex: 0 1 auto;
		@include media-breakpoint-up(lg) {
			.blog &, .archive &, .search &, .post &{
				flex: 0 1 auto;
			}
			padding: 16px 0 15px 5px;
			flex: 0 1 25%;
		}
		align-self: flex-end;
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		margin-left: 0;
		margin-right: 5px;
		@include media-breakpoint-up(md) {
			margin-right: 0;
			margin-right: 5px;
		}
		.single-post & {
			margin-left: 0;
		}
		i {
			margin-right: 0;
			font-size: 35px;
		}
	}
	&__link {
		display: block;
		width: auto;
		height: auto;
		text-align: center;
		text-decoration: none;
		i {
			color: $color__link;
			@include transition(all 0.32s ease);
		}
		&:hover i {
			color: $color__link-hover;
			@include transition(all 0.28s ease);
		}
	}
}
