<div class="cherry-projects-single__container">
	<div class="cherry-projects-single__media">
		%%FEATUREDIMAGE size="full"%%
	</div>
	<div class="cherry-projects-single__content">
		%%TITLE%%
		%%TERMSLIST%%
		%%SKILLSLIST%%
		%%DETAILSLIST%%
		%%CONTENT%%
	</div>
</div>
