<div class="cherry-projects-single__container">
	<div class="cherry-projects-single__media">
		%%FEATUREDIMAGE%%
	</div>
	<div class="cherry-projects-single__content">
		<header class="entry-header">
			%%TITLE%%
		</header>
		%%SKILLSLIST%%
		%%DETAILSLIST%%
		<div class="cherry-projects-single-meta">
			%%DATE%%
			%%AUTHOR%%
			%%TERMSLIST%%
		</div>
		%%CONTENT%%
	</div>
</div>
