input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea,
div.wpcf7 input[type='email'],
div.wpcf7 input[type='text'],
div.wpcf7 input[type='url'],
div.wpcf7 input[type='password'],
div.wpcf7 input[type='search'],
div.wpcf7 input[type='number'],
div.wpcf7 input[type='tel'],
div.wpcf7 input[type='range'],
div.wpcf7 input[type='date'],
div.wpcf7 input[type='month'],
div.wpcf7 input[type='week'],
div.wpcf7 input[type='time'],
div.wpcf7 input[type='datetime'],
div.wpcf7 input[type='datetime-local'],
div.wpcf7 input[type='color'],
div.wpcf7 textarea {
	@include font-size(0.875);
	padding: $input__indents;
	width: 100%;
	border: none;
	font-weight: 300;

	color: $color__background-sub-menu;
	background-color: rgba(69, 71, 75, 0.1);
	border-radius: none;

	&::placeholder {
		color: inherit;
	}
	&:focus {
		outline: none;
		color: $color__text-input-focus;
	}
	.invert &{
		background-color: rgba(255,255,255,0.1);
		color: $invert_color__text-screen;

		&::placeholder {
			color: inherit;
		}
		&:focus {
			color: $invert_color__text-screen;
		}
	}
}

button,
input[type='submit'],
input[type='reset'] {
	@include btn();
	&:focus {
		outline: none;
	}
}

select {
	border: 1px solid $color__border;
}

textarea {
	width: 100%;
}

::-moz-placeholder { opacity: 1; }
:-moz-placeholder { opacity: 1; }
