    /* background: url(../img/icon-search.png) no-repeat right 10px center #fff !important*/
.dwqa-search {
	 & input[type="text"] {
		background: url(./assets/images/icon-search.png) no-repeat right 10px center rgba(0,0,0,0.1) !important;
	}
}
.search-form, .dwqa-search {
	margin: 0;
	padding: 0;
	display: flex;
	label{
		flex: 1 1 auto;
		width: auto;
		margin-right: 5px;
	}
	&__field[type='search'], & input[type="text"] {
		width: 100%;
		box-sizing: border-box;
		height: 50px;
		padding-right: 35px;
		.top-panel & {
			width: 150px;
			height: 30px;
			padding: 7px 7px 1px 0;
			border: none;
			background: none;
			&:focus {
				box-shadow: none;
			}
		}
	}
	&__submit.btn.btn-primary {
		flex: 0 0 50px;
		width: 50px;
		height: 50px;
		border-radius: 0;
		padding: 0;
		box-sizing: border-box;
		font-size: 0;
		.top-panel & {
			margin-left: 0;
		}
		@include transition( all 0.4s ease );
		i.material-icons {
			line-height: 20px;
			display: block;
			height: 20px;
			margin: 0 auto;
			color:$invert_color__text-screen;
			@include font-size(1.5);
			.top-panel & {
				@include font-size(1.2);
			}
		}
		.top-panel & {
			width: 30px;
			padding: 5px 0;
			background-color: transparent;
			&:hover {
				background: none;
			}
			&:active,
			&:focus,
			&:hover {
				box-shadow: none;
			}
		}
	}
}
