.admin-bar.home {
	.site-header {
		.header-container__flex {
			padding-top: 50px;
		}
	}
}

.site-header {
	.home & {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1;

		.header-container__flex {
			padding-top: 30px;
			padding-bottom: 0;
		}

		.site-branding {
			margin-left: 20px;
		}

		.main-navigation {
			margin-right: 20px;
		}
	}

	.header-container__flex {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: space-around;
		align-items: center;
		padding: 40px 0;
		margin-right: -$grid-gutter-width/2;
		margin-left: -$grid-gutter-width/2;
		.site-branding,
		.main-navigation {
			order: 0;
			align-self: auto;
		}
		.site-branding {
			flex: 0 1 auto;

			@include media-breakpoint-up(sm) {
				margin-right: 40px;
			}

			.site-logo {
				.site-link__img {
					width: 120px;
				}
			}
		}
		.main-navigation {
			flex: 1 1 auto;
		}
	}
}

.header-area-wrap {
	background-color: $color__background-pre;

	&:empty {
		padding: 3.8em 0 3.6em;
		display: none;
	}
}
