.admin-bar.home {
	.site-header {
		.header-container__flex {
			padding-top: 50px;
		}
	}
}

.site-header {
	.home & {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1;

		.header-container__flex {
			padding-top: 30px;
			padding-bottom: 0;
		}

		.site-branding {
			margin-left: 20px;
		}

		.main-navigation {
			margin-right: 20px;
		}
	}

	.header-container__flex {
		display: flex;
		flex-flow: column wrap;
		padding: 20px 0;

		@include media-breakpoint-up(sm) {
			flex-flow: row nowrap;
			align-items: center;
		}

		@include media-breakpoint-up(md) {
			flex-flow: row nowrap;
			padding: 40px 0;
		}

		.site-branding,
		.main-navigation {
			order: 0;
			align-self: auto;
		}

		.site-branding {
			flex: 0 1 auto;

			@include media-breakpoint-up(sm) {
				margin-right: 40px;
			}

			.site-logo {
				.site-link__img {
					width: 120px;
				}
			}
		}

		.main-navigation {
			flex: 1 1 auto;
		}
	}
}

.header-area-wrap {
	background-color: $color__background-pre;

	&:empty {
		padding: 3.8em 0 3.6em;
		display: none;
	}
}

#rovadex-logo-svg{
	width: 90%;
	@include media-breakpoint-up(sm){
		max-width: 250px;
	}
	@include media-breakpoint-up(md){
		max-width: 650px;
	}
	@include media-breakpoint-up(lg){
		max-width: 830px;
	}
	.symbol{
		fill: $color__text-screen;

		.home &{
			fill: $invert_color__text-screen;
		}
	}
	.main-symbol{
		fill: $invert_color__text-screen;
	}
}
