.home {
	.no-gutters{
		> .col,
		> [class*="col-"] {
			padding-right: 0;
			padding-left: 0;
		}
	}
	.home-page-section {
		display: flex;
		align-items: center;
		overflow: hidden;
		padding-top: 50px;
		padding-bottom: 50px;
		@include media-breakpoint-up(md){
			height: 1024px;
		}

		.cover-image {
			display: none;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			@include media-breakpoint-up(sm){
				display: block;
			}
		}

		.container {
			position: relative;
			z-index: 2;
		}

		& .content-section {
			position: relative;
			z-index: 1;
			padding-top: 20px;
			margin-top: 20px;
			@include media-breakpoint-up(md){
				padding-top: 30px;
				margin-top: 50px;
			}
		}

		h2 {
			width: 100%;
			/*@include media-breakpoint-up(sm){
				margin-bottom: 0px;
			}*/
			@include media-breakpoint-up(md){
				margin-bottom: 40px;
			}
			&:first-child {
				margin-bottom: 0;
			}
			span {
				position: relative;
			}
		}
		a.btn{
			margin-top: 30px;
			@include media-breakpoint-up(sm){
				margin-top: 20px;
			}
		}
	}

	.home-section {
		background-color: #383838;
		padding-top: 80px;
		padding-bottom: 80px;
		.cover-image {
			width: 100%;
			height: 100%;
		}
		.cherry-svg-image {
			width: 100%;
			text-align: center;
			svg {
				width: 90%;
				@include media-breakpoint-up(md){
					max-width: 650px;
				}
				@include media-breakpoint-up(lg){
					max-width: 830px;
				}
			}
		}

		&-column {
			& .content-section {
				margin-top: 20px;
				color: white;

				p {
					font-size: 36px;
					line-height: 50px;
					font-weight: 300;
				}

				&:before {
					width: 70px;
					height: 3px;
					background-color: $color_primary;
					background: $color__background-button;
					top: 0;
					left: 0;
					display: block;
					position: absolute;
					content: '';
				}
			}
		}
	}

	.about-section {
		.cover-image {

			@include media-breakpoint-up(sm){
				width: 65%;
				height: 110%;
				top: -5%;
				right: -100px;
			}
			@include media-breakpoint-up(md) {
				width: 50%;
				height: 160%;
				top: -32%;
				right: -200px;
			}
			@include media-breakpoint-up(xl) {
				width: 55%;
				height: 250%;
				top: -70%;
				right: -300px;
			}
		}

		&-column {
			& .content-section {
				&:before {
					width: 70px;
					height: 3px;
					background-color: $color_primary;
					background: $color__background-button;
					top: 0;
					left: 0;
					display: block;
					position: absolute;
					content: '';
				}
			}
		}
	}

	.services-section {
		background-color: #383838;
		.cover-image {
			width: 100%;
			height: 100%;
			@include media-breakpoint-up(sm){
				background-position: 50% 65%;
			}
			@include media-breakpoint-up(md){
				background-position: 75% 100%;
			}
			@include media-breakpoint-up(xl){
				background-position: 50%;
			}
		}

		&-column {
			color: white;
		}

		.content-section{
			@include media-breakpoint-up(sm){
				padding-top: 20px;
				margin-top: 20px;
			}
			@include media-breakpoint-up(md){
				margin-top: 0;
				padding-top: 0
			}
		}

		@include media-breakpoint-up(md){
			h2.splitted{
				margin-bottom: 40px;
			}
		}

		.cherry-services {
			margin-bottom: 2em;

			@include media-breakpoint-up(sm){
				margin-bottom: 1em;

				&-row{
					flex-direction: row;
				}
			}
			.services-item {

				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}

				.icon_wrap {
					display: none;

					.service-icon {
						i {
							color: white;
						}
					}
				}

				.title_wrap {
					margin-bottom: 10px;
					a {
						color: white;
						font-size: 18px;
					}
				}

				.service-descr{
					font-size: 16px;
					text-align: justify;
				}

				p {
					font-size: 14px;
					@include media-breakpoint-up(md){
						font-size: 1rem;
					}
				}

				@include media-breakpoint-up(sm){
					.icon_wrap {
						display: block;
						margin-top: 10px;
						margin-right: 35px;
					}
				}
				@include media-breakpoint-up(lg){
					margin-bottom: 25px;
				}
			}
		}
	}

	.projects-section {
		.cover-image {

			@include media-breakpoint-up(sm){
				width: 60%;
				height: 100%;
				top: 0%;
				left: -200px;
			}
			@include media-breakpoint-up(md) {
				width: 60%;
				height: 120%;
				top: -7%;
				left: -260px;
			}
			@include media-breakpoint-up(lg) {
				width: 60%;
				height: 150%;
				top: -23%;
				left: -260px;
			}
			@include media-breakpoint-up(xl) {
				width: 45%;
				height: 165%;
				top: -30%;
				left: -150px;

			}
		}

		&-column {
			& .content-section {
				&:before {
					width: 70px;
					height: 3px;
					background-color: $color_primary;
					background: $color__background-button;
					top: 0;
					left: 0;
					display: block;
					position: absolute;
					content: '';
				}
			}
		}
	}

	.team-section {
		background-color: #292929;

		@include media-breakpoint-up(sm){
			.cover-image {
				opacity: 0.1;
			}
		}

		&-column {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-flow: column nowrap;
			color: white;

			& .content-section {
				&:before {
					width: 70px;
					height: 3px;
					background-color: $color_primary;
					background: $color__background-button;
					top: 0;
					left: 0;
					display: block;
					position: absolute;
					content: '';
				}
			}
		}

		.content-section-team{
			width: 320px;
		}

		.team-container{
			padding-top: 50px;
			width: 100%;
			-webkit-tap-highlight-color: transparent;
			/* position relative and z-index fix webkit rendering fonts issue */
			position: relative;
			z-index: 1;

			.team-listing{
				padding: 0;
				margin: 0;
			}

			.team-wrap{
				position: relative;
				overflow: hidden;
				/* fix for flashing background */
				-webkit-transform: translate3d(0px, 0px, 0px);
				.team-listing{
					position: relative;
					-ms-touch-action: pan-Y;
					-moz-backface-visibility: hidden;
					display: block;
					flex-wrap: initial;
					align-content: initial;
					align-items: initial;
					&:after{
						content: ".";
						display: block;
						clear: both;
						visibility: hidden;
						line-height: 0;
						height: 0
					}
					.owl-item{
						position: relative;
						min-height: 1px;
						float: left;
						.team-listing_photo img{
							display: block;
							width: 100%;
						}
					}
				}
			}
		}

		.owl-dots{
			display: flex;
			justify-content: center;
			.owl-dot{
				width: 12px;
				height: 12px;
				margin: 0 10px;
				background-color: white;
				opacity: 0.3;
				text-indent: -9999px;
				min-width: 12px;
				border-radius: 50%;
				border: none;
				@include transition(all 0.5s ease-in-out);
				&.active{
					background-color: #65c6e6;
					opacity: 1;
				}
			}
		}
		.owl-nav.disabled{
			display: none;
		}
	}
	.contacts-section {
		background-color: #25272d;
		padding-top: 50px;
		padding-bottom: 50px;

		&-column {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-flow: column nowrap;
			color: white;

			h2 {
				@include media-breakpoint-up(sm){
					margin-bottom: 40px;
				}

				&:first-child {
					margin-bottom: 0;
				}
			}

			a {
				color:#578cc7;
				&:actove{
					color:#578cc7;
				};
			}

			& .content-section {
				color: white;

				a {
					&:before {
						color: white;
					}
				}

				&:before {
					width: 70px;
					height: 3px;
					background-color: $color_primary;
					background: $color__background-button;
					top: 0;
					left: 0;
					display: block;
					position: absolute;
					content: '';
				}
			}
		}
	}
}

ul.rovadex-social-link{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	font-size: 0;
	margin: 10px 0 20px;
	>li{
		padding: 0;
		margin: 0 10px 0 0;
		list-style-type: none;
		&:before{
			display:none;
		};
		a {
			.fa{
				color: $color__link;
				font-size: 28px;
				@include transition(all 0.25s ease);
				.invert & {
					color: $invert_color__link;
				}
			}
			&:hover{
				.fa{
					color: $color__link-hover;
					.invert & {
						color: $invert_color__link-hover;
					}
				}
			};
		}
	}
}

#fp-nav {
	display:none;
	@include media-breakpoint-up(sm){
		display: block;
		ul {
			li {
				margin: 16px 8px;

				&:last-child {
					padding-bottom: 0;
				}
				a {
					span {
						background-color: $color_primary;
						@include transition( all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) );
					}
				}
			}
		}
	}
}

#fp-nav.invert {
	ul {
		li {
			a {
				span {
					background-color: white;
				}
			}
		}
	}
}
