/*html{
	overflow-x: hidden;
	width: 100vw;
}*/
.site-content{
	margin: 0 0 4em;
	.home & {
		margin-bottom: 0;
	}
}
.sticky {
	display: block;
}

.blog, .search, .archive, .single-post {
	#primary, #primary-sidebar {
		margin-top: 2.125em;
		@include media-breakpoint-up(md) {
			margin-top: 4.375em;
		}
	}

}

.posted-on .updated:not(.published){
	display: none;
}

.single-post .posted-by,
.group-blog .posted-by {
	display: block;
	@include media-breakpoint-up(md) {
		display: inline;
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content {
	.home & {
		margin: 0;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.hentry {
	/*.blog &, .archive &, .search &, .page & {
		margin: 0 0 4em;
	}*/

	.blog &, .archive &, .search &, .single-post & {
		.image-wrap{
			margin-bottom: 1.5em;

			@include media-breakpoint-up(md) {
				margin-bottom: 3em;
			}
		}
		figure.post-thumbnail {
			margin: 0; /* Extra wide images within figure tags dont overflow the content area. */
			position: relative;
			font-size: 0;
		}
	}

	.row-wrap {
		position: relative;

		.column-wrap {
			&.image-wrap {
				img{
					width: 100%;
				}
			}
		}
	}
}

.site-main{
	&:after {
		.has_sidebar & {
			width: 1px;
			height: calc(100% - 107px);
			content: '';
			position: absolute;
			top: 0;
			right: -$grid-gutter-width/2;
			background: $color__border;
			display: none;
			@include media-breakpoint-up(md) {
				display: block;
			}
		}
	}
}

.post {
	margin-bottom: 5em;
	&__cats {
		.post-thumbnail__img + &{
			position: absolute;
			top: 10px;
			left: 10px;
		}

		text-transform: capitalize;
		font-family: $font__headings;
		font-weight: bold;
		color: $color__text-screen;

		a {
			color: $invert_color__text-screen;
			background-color: $color__link;
			background: $color__background-button;
			margin: 0 4px;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 400;
			padding: 4px 8px;
			text-transform: capitalize;

			&:first-child {
				margin-left: 0;
			}

			&:hover {
				box-shadow: inset 0 0 0 2px white;
				@include transition( all 440ms cubic-bezier(0.275, 0.17, 0.145, 0.975) );
			}
		}
		span{
			font-family: $font__main;
			font-weight: 300;
		}
	}
}

.entry-meta {
	margin: 1.857em 0 2.714em;
	a {
		color: $color__link;
		&:hover {
			color: $color__link-hover;
		}
	}
}

.entry {
	&-meta,
	&-footer {
		@include font-size(0.875);
		text-transform: capitalize;

		i {
			margin-right: 5px;
			top: 1px;
			position: relative;
			//color: #c4c5c5;
		}

		span {
			position: relative;
			margin-right: 15px;

				a {
					//color: #c4c5c5;
					font-size: 16px;
				}
		}
	}
}

.entry-header {

	.blog &, .archive &, .search &, .single-post &, .single-projects &{
		position: relative;
		margin-bottom: 1.438em;

		.entry-wrap {
			position: relative;
			padding-bottom: 0.5em;
		}

		.entry-title {
			margin-bottom: 1.5em;
			position: relative;

			a {
				color: $color__text-screen;
				&:hover {
					color: $color__link;
				}
			}

			&:after {
				width: 70px;
				height: 3px;
				background-color: $color_primary;
				bottom: -17px;
				left: 0;
				display: block;
				position: absolute;
				content: '';
			}
		}

		.entry-content {
			position: relative;
			margin-top: 0.75em;

			p {
				margin-bottom: 0;
			}
		}

		.post__tags {
			display: inline-block;
		}
		.entry-meta {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 16px;
			font-weight: 400;
		}
	}
}

.entry-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.single-post &{
		justify-content: flex-end;
	}

	@include font-size(0.875);
	text-transform: capitalize;

	@include media-breakpoint-up(lg) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	> .btn{
		flex: 0 1 auto;
	}
	.post__tags {
		order: 0;
		flex: 0 1 auto;
		@include media-breakpoint-up(lg) {
			flex: 0 1 70%;
		}
		align-self: auto;
	}
}
