$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #f7f7fb;
$color__background-ins: #fff9c0;
$color__background-footer-area-wrap: #42527b;
$color__background-sub-menu: #42527b;

$color__text-screen: #21759b;
$color__text-input: #42527b;
$color__text-input-focus: $color__text-input;
$color__link: #42527b;
$color__link-visited: $color__link;
$color__link-hover: #7e5fa8;
$color__text-main: #42527b;

$color__border-abbr: #666;

$button_text_color: #fff;
$color_gradient_1: #7e5fa8;
$color_gradient_2: #d65393;

$color__separator: #e8e8f6;

$color__background-footer: #25272d;
$color__link-footer: #7e5fa8;

$color_icon: #7e5fa8;
$color__points: #d9dce5;

//forms fields
$color__field-background: #f5f7fb;
$color__border-input: $color__separator;

//Shortcodes

$color__info: #37cf82;
$color__error: #fc3448;
$color__warning: #fdc634;
$color__success: #00b4ff;

// invert color
$color__invert-main: #fff;
$color__background-invert-btn: #6178b1;
