$size__site-main: 100%;
$size__site-sidebar: 25%;

$input__indents: 8px 12px 8px;
$border__radius: 0;

$pre_indents: 2.063em 3.438em 2.313em;

$button__radius: 0;
$button__indents: 12px 20px 12px;
$button__indents_sm: 17px 25px;
